/* ==========================================
        Start Global Section
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto+Condensed:wght@300;700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-family: "Roboto Condensed";
}
