header .form-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
  border: none;
  box-shadow: none !important;
  font-size: 25px;
  font-weight: 700;
  display: none;
}
header .form-control:focus {
  background-color: #f8f9fa;
}
#cross {
  display: none;
}
.fa-times {
  position: absolute;
  top: 40%;
  font-size: 25px;
  color: rgba(58, 56, 56, 0.459);
}
.search a {
  color: black;
}
.dropdown-menu.show {
  top: 64px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00c0e1;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #00c0e1;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
}
.search-input {
  display: none;
}

.navbar {
  height: 90px;
}

.dropdown-menu[data-bs-popper] {
  top: 62px;
}

/* .form-control-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
  border: none;
  box-shadow: none !important;
  font-size: 25px;
  font-weight: 700;
} */
.form-control-navbar:focus {
  background-color: #f8f9fa;
}

.fa-search {
  z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
  margin-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #0dcaf0;
}
.logo-style {
  color: #0dcaf0;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

/* mobile style */
.navbar-collapse {
  background-color: #f8f9fa;
  z-index: 1;
  width: 100%;
}
.navbar-nav-scroll {
  overflow: hidden;
}
.navbar-nav {
  max-height: none;
}

@media (max-width: 978px) {
  .nav-form {
    padding-bottom: 5px;
  }
}

#formInput {
  z-index: 1;
}

.logo {
  width: 300px;
  text-decoration: none;
}

/* customization */
.dropdown-menu[data-bs-popper] {
  top: 151%;
}
